go 1.23.0

use ./anthony_gg/pointers

use ./jon_calhoun/01-quiz-game-using-csv

use (
	./todd_mcleod/00-exercises
	./todd_mcleod/01-go-modules
	./todd_mcleod/02-iota
	./todd_mcleod/03-control-flow
	./todd_mcleod/04-grouping-data
	./todd_mcleod/05-structs
	./todd_mcleod/06-functions
	./todd_mcleod/07-application
	./todd_mcleod/08-concurrency
	./todd_mcleod/09-channels
	./todd_mcleod/10-error-handling
	./todd_mcleod/11-documentation
	./todd_mcleod/12-testing-benchmarking
)

use (
	./chris_james/01-go-fundamentals/01-hello-world
	./chris_james/01-go-fundamentals/02-integers
	./chris_james/01-go-fundamentals/03-iteration
	./chris_james/01-go-fundamentals/04-arrays-and-slices
	./chris_james/01-go-fundamentals/05-structs-methods-interfaces
	./chris_james/01-go-fundamentals/06-pointers-and-errors
	./chris_james/01-go-fundamentals/07-maps
	./chris_james/01-go-fundamentals/08-dependency-injection
	./chris_james/01-go-fundamentals/09-mocking
	./chris_james/01-go-fundamentals/10-concurrency
	./chris_james/01-go-fundamentals/11-racer
	./chris_james/01-go-fundamentals/12-reflection
	./chris_james/01-go-fundamentals/13-sync
	./chris_james/01-go-fundamentals/14-context
	./chris_james/01-go-fundamentals/15-intro-to-property-based-tests
	./chris_james/01-go-fundamentals/16-clockface
	./chris_james/01-go-fundamentals/17-blogposts
	./chris_james/01-go-fundamentals/18-templating
	./chris_james/01-go-fundamentals/19-generics
	./chris_james/01-go-fundamentals/20-generics-and-arrays
)

use (
	./chris_james/02-testing-fundamentals/01-gracefulshutdown
	./chris_james/02-testing-fundamentals/02-specs-greet
	./chris_james/02-testing-fundamentals/03-fakes-and-contracts
)

use (
	./chris_james/03-build-an-app/01-http-server
	./chris_james/03-build-an-app/02-json-routing-embedding
	./chris_james/03-build-an-app/03-io-sorting
	./chris_james/03-build-an-app/04-cli-pkg-struct
	./chris_james/03-build-an-app/05-time
	./chris_james/03-build-an-app/06-websockets
)

use(
	./chris_james/04-q-n-a/01-os-exec
	./chris_james/04-q-n-a/02-error-types
	./chris_james/04-q-n-a/03-context-aware-reader
)